
:root {
  --dark-blue: rgb(34, 34, 59);
  --medium-blue: rgb(74, 78, 105);
  --dusk-purple: rgb(154, 140, 152);
  --dark-tan: rgb(201, 173, 167);
  --light-tan: rgb(242, 233, 228);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: var(--medium-blue);
  display: flex;
}

.navlink {
  color: var(--light-tan);
  padding: 1.5rem;
  text-decoration: none;
}
